@import "variables";
@import "mixins";

body {
    margin: 0;
    padding: 0;
}

.paragraph {
    font-family: 'Courier New', Courier, monospace;
    font-size: $pSize;
    font-style: italic;
}

.header {
    background: $deepPink;
    width: 100%;

    tr {
        width: 100%;
    }

    th {
        float: left;
        width: (100% / 6);
    }

    a {
        color: $offWhite;
        text-decoration: none;
        padding: 16px;
        display: block;
        text-align: center;
        font-size: $aSize;
        font-family: 'Courier New', Courier, monospace;

        &:hover {
            background: lighten($deepPink, 6);
        }
    }
}

.container {
    .headPhoto {
        width: 100%;
        position: relative;
    }

    .h {
        position: absolute;
        text-align: center;
        top: 50px;
        left: 50px;
        width: 90%;
        font-size: $hSize;
        font-family: 'Courier New', Courier, monospace;
        color: beige;
    }
}

.boxes {
    padding-top: 50px;

    .boxContainer {
        background-color: $boxesBack;
        padding: 10px;

        .box {
            width: calc(98%/3);
            display: inline-block;

            img {
                margin-left: calc(50% - 75px);
            }

            h3, p {
                text-align: center;
            }
        }
    }
}

